# ---------------[ Unity generated ]------------------ #
Samrai_Kingdam_Z/[Ll]ibrary/
Samrai_Kingdam_Z/[Tt]emp/
Samrai_Kingdam_Z/[Oo]bj/
*/UnityGenerated/
*/smz-i/
[Tt]argets
  
# ----[ Visual Studio / MonoDevelop generated ]------- #
  
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
  
# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
 
# -------------[ Build ]------------------------ #
*.html
*.unity3d

*.ipa
*.apk
*iOS/
Samrai_Kingdam_Z/Assets/Resources/Creative_effect/temp/
